<!DOCTYPE html>

<html>

<head>

<link
rel="stylesheet"
href="/static/style.css">

</head>

<body>

<div class="container">

<!-- NAVBAR -->

<div class="navbar">

<h1>
Splitwise
</h1>

<div>

Hello,
{{session["user_name"]}}

</div>

</div>


<!-- MAIN GRID -->

<div class="dashboard">


<!-- LEFT -->

<div class="left">



<!-- FRIEND BALANCES -->

<div class="card">

<h2>
Balances
</h2>

{% if friends %}

{% for friend in friends %}

<a
class="friend-card"
href="/history/{{friend[0]}}">

<div>

<div class="avatar">

{{friend[0].split("@")[0][0].upper()}}

</div>

</div>


<div>

<div class="friend-name">

{{friend[0].split("@")[0].capitalize()}}

</div>


<div class="friend-balance">

View History →

</div>

</div>

</a>

{% endfor %}

{% endif %}

</div>




<!-- ADD FRIEND -->

<div class="card">

<h2>

Add Friend

</h2>

<form
action="/add_friend"
method="POST">

<input
name="email"
placeholder="Enter Email">

<button>

Add

</button>

</form>

</div>


</div>




<!-- RIGHT -->


<div class="right">

<div class="card">

<h2>

Add Expense

</h2>

<form
action="/add_expense"
method="POST">

<div class="expense-grid">

<input
name="description"
placeholder="Dinner">

<input
name="amount"
placeholder="₹500">

</div>


<select
name="friend_email">

{% for friend in friends %}

<option>

{{friend[0]}}

</option>

{% endfor %}

</select>


<select
name="split_type">

<option value="equal">

Split Equally

</option>

<option value="full">

Friend Pays Full

</option>

</select>


<button>

Add Expense

</button>

</form>

</div>

</div>

</div>

</div>

</body>

</html>